    /* Custom CSS for changing link color to blue */
    @font-face {
      font-family: Lato-Regular;
      src: url('/static/fonts/Lato/Lato-Regular.ttf')  format('truetype');
    }
    @font-face {
        font-family: "Grotesk";
        src: url("/static/fonts/TomatoGrotesk-Regular.woff") format('woff');
      }
      
      @font-face {
        font-family: "Grotesk";
        src: url("/static/fonts/TomatoGrotesk-Bold.woff") format('woff');
        font-weight: bold;
      }
      
      @font-face {
        font-family: "Grotesk";
        src: url("/static/fonts/TomatoGrotesk-Light.woff") format('woff');
        font-weight:lighter;
      }
      
   
      
    body{
      font-family: Grotesk,Lato-Regular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      height:100%;
    }
  
   
    html {
      height:100%;
    }
  .container-fluid {
      min-height:100%;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
      /* argin-top:-40px; */
  }

    .blue-link {
        font-weight: 500;
        
      }
      .black-text {
      color:black;
      
    }
    .blue-textbox {
      border: 2px solid blue;
      border-radius: 10px; /* Adjust the border radius as needed */
      background-color:rgb(20, 8, 182);
      color: white; /* Text color in the input boxes */
      width: 100%;
    }

    .orange-login-button {  /*login button*/
      display: inline-block;
      text-decoration: none;
      padding: 14px 40px;
      color: #ffff;
      background-image: linear-gradient(45deg, rgb(7, 18, 93), #ff851b);
      font-size: 14px;
      border-radius: 30px;
      border-top-right-radius: 0;
      transition: 0.5s;    
    }

    .yellow-bg {
     /* background-color: yellow;*/
      width: 320px;
      border: 2px;
      border-radius: 10px;
    }

    .reduce-margin-padding {
      margin: 3px 0; /* Reduce top and bottom margin */
      padding: 5px 10px; /* Adjust padding as needed */
    }
    .remember-forgot {
      display: flex;
     /* justify-content: space-between;*/
      align-items: center;
      margin: 50px 0; /* Adjust the margin to control the spacing if needed */
  }

  .remember-forgot a {
      margin-left: 10px; /* Add left margin to "Forgot Password" link to control the spacing */
  }

  .blue-box {
          background-image:linear-gradient(45deg, rgb(7, 18, 93), #300eba);
          height: 150px; /* Adjust the height as needed */
          border-bottom-left-radius: 10px; /* Curved from the bottom-left corner */
          border-bottom-right-radius: 10px; /* Curved from the bottom-right corner */
  
  }
  .form-control {
      border-color: transparent;
      
  }
  .card {
border-color: transparent;
}

.card-car{
  cursor: pointer;
  transform: scale(1,1);
  transition: all 0.3s ease 0s;
}
.card-car:hover , .card-car:focus {
  transform: scale(1.05,1.05)
}

.orange-text{
  color:#ff851b;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.orange-outline-button{
  border: 1px solid #ff851b;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins';
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(bgpic.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
    height: 40px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.login-btn {
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}

.btnx {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #ffff;
    background-image: linear-gradient(45deg, rgb(7, 18, 93), #300eba);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.content {
    margin-top: 10%;
    max-width: 600px;
}

.content h1 {
    font-size: 70px;
    color: #222;
}

.content p {
    margin: 10px 0 30px;
    color: #333;
    animation-delay: 0.5s;
}

.content .btn {
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

.btnx:hover {
    border-top-right-radius: 30px;
}
.orange-login-button:hover {
    border-top-right-radius: 30px;
}
.feature-img {
    width: 530px;
    position: absolute;
    bottom: 0;
    right: 20%;
}

.feature-img .ani {
    animation-delay: 1.5s;
}

.ani {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main {
    width: 100%;
    min-height: 100vh;
    
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

.about {
    margin-top: 10%;
    max-width: 600px;
}

.about h1 {
    margin-top: 5%;
    color: #13035d;
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
    animation-delay: 0.5s;
}
.predict h1 {
    margin-top: 5%;
    color: #300eba;
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
    animation-delay: 0.5s;
}

.about p {
    margin: 20px 0 30px;
    color: #333;
    font-size: 25px;
    justify-content: space-between;
    animation-delay: 1s;
}

.aboutimg {
    margin: 10px 0 50px;
    width: 600px;
    position: absolute;
    bottom: 0;
    right: 2%;
    animation-delay: 1.5s;
}


/* .card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e5e9f2;
    border-radius: .2rem;
}

.card-header:first-child {
    border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
}

.card-header {
    border-bottom-width: 1px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #fff;
    border-bottom: 1px solid #e5e9f2;
} */


.progressbar li {
    list-style-type: none;
    width:15%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: "";
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color: #55b776;
    background-color: #55b776;
}
.progressbar li.active + li:after {
    background-color: #55b776;
}
.progressbar li.done:before {
    border-color: #55b776;
    background-color: #55b776;
    content: "✔";
    color: #fff;
}
.progressbar li.done + li:after {
    background-color: #55b776;
}
.progressbar li.inactive:before {
    border-color: #7d7d7d;
    background-color: #7d7d7d;
}
.progressbar li.inactive + li:after {
    background-color: #7d7d7d;
}

.progressbar li.done {
  font-size: 16px;
  position: relative;
}

/* .progressbar li.done:after {
  content: "";
  display: block;
  width: 0.3em;
  height: 0.6em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  position: absolute;
  left: 4.2em;
  top: 26%;
  margin-top: -0.2em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index:9;
  background-color: #55b776;
} */
