{% extends 'store-base.html' %}
{% load static %}
{% block title %} Predict {% endblock %}
{% block content %}


<div class="main" style="background-image: url({% static 'images/bgpic.png' %});">
<h1 class="">Use our Predictive Model</h1>
<div class="m-2">
    <form class="p-2" id="predictForm" action="{% url 'prediction_result' %}" method="POST">
        {% csrf_token %}
        <select name="manufacturer"  id="man" class="form-control border-primary" type="text" placeholder="Choose Brand or Manufacturer" aria-label="default input example" required>
            <option value="">Pick your brand...</option>
           {% for manu in manufacturers %}
           <option value="{{manu}}">{{manu}}</option>
           {% endfor %}
        </select>
        <select id="model" name="model" class="form-control border-primary mt-2" type="text" placeholder="Choose Model" aria-label="default input example" required>
            <option value="">Pick your model...</option>
        </select>
        
        <select id="type" name="type"  class="form-control border-primary mt-2" type="text" placeholder="Choose Body Type" aria-label="default input example" required>
            <option value="">Choose body type of your ride...</option>
        </select>
        
        <select id="fuel" name="fuel"  class="form-control border-primary mt-2" type="text" placeholder="Choose Fuel Type" aria-label="default input example" required>
            <option value="">Choose fuel type of your ride...</option>
        </select>
        
        <select id="transmission" name="transmission"  class="form-control border-primary mt-2" type="text" placeholder="Choose Transmission Type" aria-label="default input example" required>
            <option value="">Choose transmission type of your ride...</option>
        </select>
        
        <select id="cylinders" name="cylinders"  class="form-control border-primary mt-2" type="text" placeholder="Choose Cylinder Type" aria-label="default input example" required>
            <option value="">Choose cylinder type of your ride...</option>
        </select>
        
        <select id="size" name="size" class="form-control border-primary mt-2" type="text" placeholder="Choose Model Size" aria-label="default input example" required>
            <option value="">Choose drive size of your ride...</option>
        </select>
        <select id="drive" name="drive"  class="form-control border-primary mt-2" type="text" placeholder="Choose Drive Type" aria-label="default input example" required>
            <option value="">Choose drive type of your ride...</option>
        </select>
        <select id ="condition" name="condition" class="form-control border-primary mt-2" type="text" placeholder="Choose Condition" aria-label="default input example" required>
            <option value="">Choose condition of your ride...</option>
            {% for condition in input.condition %}
                <option value = "{{condition}}">{{condition}}</option>
            {% endfor %}
        </select>
        <select id ="title_status" name="title_status" class="form-control border-primary mt-2" type="text" placeholder="Choose Title Status" aria-label="default input example" required>     
            <option value="">Choose title status of your ride...</option>
            {% for ts in input.title_status %}
                <option value = "{{ts}}">{{ts}}</option>
            {% endfor %}
        </select>

        <select id="region" name="region" class="form-control border-primary mt-2" type="text" placeholder="Choose Region to Buy or Sell" aria-label="default input example" required>
            <option value="">Choose region to sell or buy...</option>
            {% for region in input.region %}
            <option value = "{{region}}">{{region}}</option>
            {% endfor %}
        </select>
        <input name="used_year" class="form-control border-primary mt-2" type="text" placeholder="Entered No of Used Years" aria-label="default input example" required autocomplete="off">
        <input name="odometer" class="form-control border-primary mt-2" type="text" placeholder="Enter KM Driven (KM)" aria-label="default input example" required autocomplete="off">
        
        <button style="width: 100%;" class="orange-login-button mt-2 btn-full" type="submit" id="predictSubmit">Predict</button>
        <div id="result">

        </div>
    </form>
</div>


{% endblock %}
