{% extends 'store-base.html' %}
{% load static %}
{% block title %} Predict {% endblock %}
{% block content %}
<div class="main" style="background-image: url({% static 'images/bgpic.png' %});">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3 shadow shadow-sm">
                <div class="card-header">Final Predicted Result</div>
                <div class="card-body">
                  <h5 class="card-title font-weight-bold">
                    <span class="badge bg-primary">Predicted Price </span><i class="fa fa-calendar mx-2"></i><span class="badge bg-success">{{cur_prediction.created_at}}</span></h5>
                  <p class="card-text">
                    <h4><i class="fa fa-dollar"></i>.{{cur_prediction.price_in_dollar}} <i class="fa-solid fa-plus-minus mx-2"></i><i class="fa fa-dollar ms-2"></i>.{{cur_prediction.error_correction_dollar}}</h4>
                    <h4><i class="fa fa-rupee"></i>.{{cur_prediction.price_in_npr}}<i class="fa-solid fa-plus-minus mx-2"></i><i class="fa fa-rupee ms-2"></i>.{{cur_prediction.error_correction_npr}}</h4>
                </h4>
                </p>
                <a class="btnx " data-bs-toggle="collapse" href="#collapseCurrentPrediction" role="button" aria-expanded="false" aria-controls="collapseExample">
                    details
                  </a>
                  <div class="collapse" id="collapseCurrentPrediction">
                    <div class="card card-body border-primary p-2 m-2">
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa fa-car mx-2"> </i>Brand: <span class="badge bg-primary">{{cur_prediction.manufacturer}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-regular fa-copyright mx-2"> </i>Model: <span class="badge bg-primary">{{cur_prediction.model}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-b mx-2"> </i>Body: <span class="badge bg-primary">{{cur_prediction.body}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-gas-pump mx-2"> </i>Fuel: <span class="badge bg-primary">{{cur_prediction.fuel}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-gear mx-2"> </i>Transmission: <span class="badge bg-primary">{{cur_prediction.transmission}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-c mx-2"> </i>Cylinder: <span class="badge bg-primary">{{cur_prediction.cylinders}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-s mx-2"> </i>Size: <span class="badge bg-primary">{{cur_prediction.size}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-car mx-2"> </i>Drive: <span class="badge bg-primary">{{cur_prediction.drive}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-c mx-2"> </i>Condition: <span class="badge bg-primary">{{cur_prediction.condition}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-p mx-2"> </i>Parts Status: <span class="badge bg-primary">{{cur_prediction.title_status}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-calendar mx-2"> </i>Used Years: <span class="badge bg-primary">{{cur_prediction.used_year}} years</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-road fa-p mx-2"> </i>KM driven: <span class="badge bg-primary">{{cur_prediction.odometer}} Km</span>
                        </small>
                    </div>
                  </div>
                </div>
                 
              </div>
              <div class="m-2">
                <a href="{% url 'predict' %}"><button class="btn orange-login-button">Go Back</button></a>
              </div>
        </div>
        
        <div class="col-6">
            <h4 class="bg-white shaodw shadow-sm p-2">Previous Predictions</h4>
            
            {% if prev_predictions is not None %}
            <div class="p-2" style="overflow-y: scroll; height: 200px;" >
            {% for cur_prediction in prev_predictions %}
            
            <div class="card shadow shadow-sm mb-3">
                <!-- <div class="card-header">Final Predicted Result</div> -->
                <div class="card-body">
                   <h5><span class="badge bg-warning">Predicted Price </span><i class="fa fa-calendar mx-2"></i><span class="badge bg-primary">{{cur_prediction.created_at}}</span></h5>
                  <p class="card-text">
                    <h4><i class="fa fa-dollar"></i>.{{cur_prediction.price_in_dollar}} <i class="fa-solid fa-plus-minus mx-2"></i><i class="fa fa-dollar ms-2"></i>.{{cur_prediction.error_correction_dollar}}</h4>
                    <h4><i class="fa fa-rupee"></i>.{{cur_prediction.price_in_npr}}<i class="fa-solid fa-plus-minus mx-2"></i><i class="fa fa-rupee ms-2"></i>.{{cur_prediction.error_correction_npr}}</h4>
                </p>
                <a class="btn btn-sm btn-outline-primary" data-bs-toggle="collapse" href="#collapsePrevPrediction{{cur_prediction.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                    details
                  </a>
                  <div class="collapse" id="collapsePrevPrediction{{cur_prediction.id}}">
                    <div class="card card-body border-primary p-2 m-2">
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa fa-car mx-2"> </i>Brand: <span class="badge bg-primary">{{cur_prediction.manufacturer}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-regular fa-copyright mx-2"> </i>Model: <span class="badge bg-primary">{{cur_prediction.model}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-b mx-2"> </i>Body: <span class="badge bg-primary">{{cur_prediction.body}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-gas-pump mx-2"> </i>Fuel: <span class="badge bg-primary">{{cur_prediction.fuel}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-gear mx-2"> </i>Transmission: <span class="badge bg-primary">{{cur_prediction.transmission}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-c mx-2"> </i>Cylinder: <span class="badge bg-primary">{{cur_prediction.cylinders}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-s mx-2"> </i>Size: <span class="badge bg-primary">{{cur_prediction.size}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-car mx-2"> </i>Drive: <span class="badge bg-primary">{{cur_prediction.drive}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-c mx-2"> </i>Condition: <span class="badge bg-primary">{{cur_prediction.condition}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-p mx-2"> </i>Parts Status: <span class="badge bg-primary">{{cur_prediction.title_status}}</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-calendar mx-2"> </i>Used Years: <span class="badge bg-primary">{{cur_prediction.used_year}} years</span>
                        </small>
                        <small class="text-muted text-capitalize my-1">
                            <i class="fa-solid fa-road fa-p mx-2"> </i>KM driven: <span class="badge bg-primary">{{cur_prediction.odometer}} Km</span>
                        </small>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
            </div>
            {% endif %}

        </div>
            
    </div>
    
    <script src="{% static 'js/circle-progress.min.js' %}" type="module">
        new CircleProgress('.progress', {
        max: 100,
        value: 60,
        textFormat: 'percent',
        animation: 'easeOutQuad',
        animationDuration: 5000
    });
    </script>  
    <div class="m-2">
        <h1>Top 3 Recommened Cars Based on the prediction</h1>
    
        <div class="row">
        <div class="col-4">
            <div class="card m-2 card-car shadow-sm" id="car-card" onclick="location.href  = '{{car.get_absolute_url}}' " style="position: relative;">
                <circle-progress value="90" max="100" text-format="percent" style="position: absolute; top:10%; left:30%;">
                <style>
                                    ::part(value) {
                        stroke-width: 6px;
                        stroke: hsl(39, 100%, 50%);
                    }
                    ::part(circle) {
                        stroke-width: 6px;
                        stroke: hsl(39, 100%, 85%);
                    }
                    ::part(text) {
                        fill: hsl(39, 100%, 50%);
                    }
                </style>
                </circle-progress>
                <img style="z-index: -1;" class="card-img-top" src="https://fastly-production.24c.in/hello-ar/dev/uploads/6505965c35f7eb5c6cc7df25/c46367da-df70-4229-bda4-a0ab18f82fa0/slot/11217659719-3e9bcbb02f37478eace656c8101cb96b-Exterior-7.jpg?w=690&auto=format" alt="Card image cap">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <h5 class="card-text">CAR A</h5>
                            <p class="fw-light mb-0">MODEL A &#2022; PETROL</p>
                           
                        </div>
                        <div class="">
                            <a href="#">
                                <img src="{% static 'images/icon-love.svg' %}" width="24" height="24">
                            </a>
                        </div>
                    </div>
                    <div class="my-2 text-uppercase">
                        <span class="badge bg-light text-dark">85,000 KM</span>
                        <span class="badge bg-light text-dark">Second Owner</span>
                        <span class="badge bg-light text-dark">Petrol</span>
                    </div>
                    <h6 class="text-muted mt-2">NPR. 3,056,000</h6>
                  </div>
              </div>
        </div>
        <div class="col-4">
       <div class="card m-2 card-car shadow-sm" id="car-card" onclick="location.href  = '{{car.get_absolute_url}}' " style="position: relative;">
            <circle-progress value="85" max="100" text-format="percent" style="position: absolute; top:10%; left:30%;">
            </circle-progress>
        <img class="card-img-top" src="https://fastly-production.24c.in/hello-ar/dev/uploads/6505965c35f7eb5c6cc7df25/c46367da-df70-4229-bda4-a0ab18f82fa0/slot/11217659719-3e9bcbb02f37478eace656c8101cb96b-Exterior-7.jpg?w=690&auto=format" alt="Card image cap">
                        <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <h5 class="card-text">CAR C</h5>
                            <p class="fw-light mb-0">MODEL B &#2022; PETROL</p>
                           
                        </div>
                        <div class="">
                            <a href="#">
                                <img src="{% static 'images/icon-love.svg' %}" width="24" height="24">
                            </a>
                        </div>
                    </div>
                    <div class="my-2 text-uppercase">
                        <span class="badge bg-light text-dark">85,000 KM</span>
                        <span class="badge bg-light text-dark">Second Owner</span>
                        <span class="badge bg-light text-dark">Petrol</span>
                    </div>
                    <h6 class="text-muted mt-2">NPR. 2,056,000</h6>
                  </div>
              </div>
        </div>
        <div class="col-4">
                <div class="card m-2 card-car shadow-sm" id="car-card" onclick="location.href  = '{{car.get_absolute_url}}' " style="position: relative;">
                    <circle-progress value="70" max="100" text-format="percent" style="position: absolute; top:10%; left:30%;">
                    </circle-progress>
                <img class="card-img-top" src="https://fastly-production.24c.in/hello-ar/dev/uploads/6505965c35f7eb5c6cc7df25/c46367da-df70-4229-bda4-a0ab18f82fa0/slot/11217659719-3e9bcbb02f37478eace656c8101cb96b-Exterior-7.jpg?w=690&auto=format" alt="Card image cap">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div class="">
                            <h5 class="card-text">CAR C</h5>
                            <p class="fw-light mb-0">MODEL C &#2022; PETROL</p>
                           
                        </div>
                        <div class="">
                            <a href="#">
                                <img src="{% static 'images/icon-love.svg' %}" width="24" height="24">
                            </a>
                        </div>
                    </div>
                    <div class="my-2 text-uppercase">
                        <span class="badge bg-light text-dark">85,000 KM</span>
                        <span class="badge bg-light text-dark">Second Owner</span>
                        <span class="badge bg-light text-dark">Petrol</span>
                    </div>
                    <h6 class="text-muted mt-2">NPR. 1,056,000</h6>
                  </div>
              </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
olid fa-plus-minus