{% extends 'store-base.html' %}
{% load static %}
{% block title %} Accounts {% endblock %}
{% block content %}
  
    <div class="container p-0">
      <h1 class="h3 mb-3">Settings</h1>
      <div class="row">
        {% include 'side-panel.html' %}
        <div class="col-md-7 col-xl-8">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="account" role="tabpanel">
              <div class="card shadow-sm">
                <div class="card-header">
                  <div class="card-actions float-right">
                    <div class="dropdown show">
                      <a href="#" data-toggle="dropdown" data-display="static">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-more-horizontal align-middle"
                        >
                          <circle cx="12" cy="12" r="1"></circle>
                          <circle cx="19" cy="12" r="1"></circle>
                          <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#"
                          >Something else here</a
                        >
                      </div>
                    </div>
                  </div>
                  <h5 class="card-title mb-0">Account info</h5>
                </div>
                <div class="card-body">
                  <form action="{% url 'changepassword' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-8">
                        <div class="form-group">
                          <label for="inputUsername">Username</label>
                          <input
                            type="text"
                            disabled
                            class="form-control mt-3 border-primary"
                            id="inputUsername"
                            placeholder="{{request.user.username}}"
                          />
                        </div>
                        <div class="form-group">
                          <label for="inputPassword">Old Password</label>
                          <input
                            type="password"
                            class="form-control mt-3 border-primary"
                            id="inputPassword"
                            placeholder="Password"
                            name="oldpass"
                            autocomplete="off"
                          />
                        </div>
                        <div class="form-group">
                          <label for="inputPassword"> New Password</label>
                          <input
                            type="password"
                            class="form-control mt-3 border-primary"
                            id="inputPassword2"
                            placeholder="Password"
                            name="newpass"
                          />
                        </div>

                      </div>
                      <div class="col-md-4">
                        <div class="text-center">
                          <img
                            alt="Andrew Jones"
                            src="https://bootdey.com/img/Content/avatar/avatar1.png"
                            class="rounded-circle img-responsive mt-2"
                            width="128"
                            height="128"
                          />
                          <div class="mt-2">
                            <span class="btn btn-primary"
                              ><svg
                                class="svg-inline--fa fa-upload fa-w-16"
                                aria-hidden="true"
                                data-prefix="fas"
                                data-icon="upload"
                                role="img"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 512 512"
                                data-fa-i2svg=""
                              >
                                <path
                                  fill="currentColor"
                                  d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"
                                ></path>
                                </svg>Upload</span>
                          </div>
                          <small
                            >Note: For best results, use an image at least 128px
                            by 128px in .jpg format</small
                          >
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="orange-login-button">
                      Save changes
                    </button>
                  </form>
                </div>
              </div>
              <div class="card shadow-sm mt-2">
                <div class="card-header">
                  <div class="card-actions float-right">
                    <div class="dropdown show">
                      <a href="#" data-toggle="dropdown" data-display="static">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-more-horizontal align-middle"
                        >
                          <circle cx="12" cy="12" r="1"></circle>
                          <circle cx="19" cy="12" r="1"></circle>
                          <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#"
                          >Something else here</a
                        >
                      </div>
                    </div>
                  </div>
                  <h5 class="card-title mb-0">Basic info</h5>
                </div>
                <div class="card-body">
                  <form action="{% url 'changeinfo' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-6">
                        <label for="inputFirstName">First name</label>
                        <input
                          type="text"
                          class="form-control mt-3 border-primary"
                          id="inputFirstName"
                          placeholder="First name"
                          value="{{request.user.first_name}}"
                          required
                          name="first_name"
                        />
                      </div>
                      <div class="form-group col-6">
                        <label for="inputLastName">Last name</label>
                        <input
                          name="last_name"
                          type="text"
                          class="form-control mt-3 border-primary"
                          id="inputLastName"
                          placeholder="Last name"
                          value="{{request.user.last_name}}"
                          required
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail">Email</label>
                      <input
                      name="email"
                        type="email"
                        class="form-control mt-3 border-primary"
                        id="inputEmail4"
                        placeholder="Email"
                        value={{request.user.email}}
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="inputGender">Contact</label>
                      <input
                      name="phone"
                      type="text"
                      class="form-control mt-3 border-primary"
                      id="inputEmail4"
                      placeholder="Contact"
                      value="{{request.user.phone}}"
                      required
                    />
                    </div>

                    <button type="submit" class="orange-login-button mt-4">
                      Save changes
                    </button>
                  </form>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}

