{% extends 'store-base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form %}
{% block title %} License Verification Form {% endblock %}
{% block content %}
    <div class="main">
        <div class="card shadow">
            
            <div class="card-body">
                <div class="text-center"">                     
                    <h2 class="" style="color: blue;"">License Details Submission Form </h2>
                </div>
                <form method="POST" class="row"  enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="col-12 ">
                        <label for="date_of_birth" class="mt-2" style="color: blue;">License Number</label>
                  
                     {{form.license_no}}
                    {% if form.license_no.errors %}
                      {% for error in form.license_no.errors %}
                      <span class="text text-danger">{{error|escape}}</span>
                      {% endfor %}
                    {% endif %}
                    </div>
                      <div class="col-12 ">
                        <label for="date_of_birth" class="mt-2" style="color: blue;">{{ form.date_of_birth.label}}</label>
                  
                       {{form.date_of_birth}}
                       
                       {% if form.date_of_birth.errors %}
                         {% for error in form.date_of_birth.errors %}
                         <span class="text text-danger">{{error|escape}}</span>
                         {% endfor %}
                       {% endif %}
                       </div>
                       <div class="col-12 ">
                        <label for="date_of_birth" class="mt-2" style="color: blue;">{{ form.registered_date.label}}</label>
                  
                       {{form.registered_date}}
                       
                       {% if form.registered_date.errors %}
                         {% for error in form.registered_date.errors %}
                         <span class="text text-danger">{{error|escape}}</span>
                         {% endfor %}
                       {% endif %}
                       </div>
                       <div class="col-12 ">
                        <label for="date_of_birth" class="mt-2" style="color: blue;">{{ form.expiration_date.label}}</label>
                  
                       {{form.expiration_date}}
                       
                       {% if form.expiration_date.errors %}
                         {% for error in form.expiration_date.errors %}
                         <span class="text text-danger">{{error|escape}}</span>
                         {% endfor %}
                       {% endif %}
                       </div>
                       <div class="col-12 ">
                        <label for="date_of_birth" class="mt-2" style="color: blue;">{{ form.license_picture.label}}</label>
                  
                       {{form.license_picture}}
                       
                       {% if form.license_picture.errors %}
                         {% for error in form.license_picture.errors %}
                            <span class="text text-danger">{{error|escape}}</span>
                         {% endfor %}
                       {% endif %}
                       </div>
                        <div class="col-12 mt-3">
                            <button role="button" type="submit" class="orange-login-button mt-2">Submit for verification</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        window.onload = function() {
            var dateInput = document.getElementsByClassName("date");
    
            dateInput.nepaliDatePicker({ndpYear: true,ndpMonth: true,ndpYearCount: 50});

        };
    </script>
{% endblock %}
