{% extends 'store-base.html' %}
{% load static %}
{% block title %} Accounts {% endblock %}
{% block content %}
  
    <div class="container p-0">
      <h1 class="h3 mb-3">Settings</h1>
      <div class="row">
        {% include 'side-panel.html' %}
        <div class="col-md-7 col-xl-8">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="account" role="tabpanel">
              <div class="card shadow-sm">
                <div class="card-header">
                  <div class="card-actions float-right">
                    <div class="dropdown show">
                      <a href="#" data-toggle="dropdown" data-display="static">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-more-horizontal align-middle"
                        >
                          <circle cx="12" cy="12" r="1"></circle>
                          <circle cx="19" cy="12" r="1"></circle>
                          <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#"
                          >Something else here</a
                        >
                      </div>
                    </div>
                  </div>
                  <h5 class="card-title mb-0">License verification status</h5>
                </div>
                <div class="card-body">
                    {%if request.user.has_verified_license == "ON_VERIFICATION" %}
                        <button class="btn btn-outline-warning rounded-pill">License Onverification <i class="fa fa-spinner"></i></button>
                    {% elif request.user.has_verified_license == "VERIFIED" %}
                        <button class="btn btn-outline-success rounded-pill">License Verified <i class="fa fa-check"></i></button>
                    {% endif %}
                    <span class="text-muted ms-2">Submitted at: {{lc.created_at}}</span>
                    <div class="d-flex p-2 justify-content-evenly">
                        
                            <small class="text-muted">License No: #{{lc.license_no}}</small>
                           <small class="text-muted">DOB: {{lc.date_of_birth.year}}-{{lc.date_of_birth.month}}-{{lc.date_of_birth.day}} BS</small>
                           <small class="text-muted">Registered On: {{lc.registered_date.year}}-{{lc.registered_date.month}}-{{lc.registered_date.day}} BS</small>  
                           <small class="text-muted">Expires On: {{lc.expiration_date.year}}-{{lc.expiration_date.month}}-{{lc.expiration_date.day}} BS</small>

                    </div>
                    <img class="img-fluid m-2" src ="{{lc.license_picture.url}}" >
                 </div>
              </div></div>
          </div>
        </div>
      </div>
    </div>
    
{% endblock %}

