{% extends 'store-base.html' %}
{% load static %}
{% block title %} Your Orders {% endblock %}
{% block content %}

<div class="container p-0">
    <h1 class="h3 mb-3">Settings</h1>
    <div class="row">
      {% include 'side-panel.html' %}
      <div class="col-md-7 col-xl-8">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="account" role="tabpanel">
            <h2>Your Orders</h2>
            {% for order in orders %}
            <div class="row my-2 shadow-sm p-2">
                <small class="text-muted">ORDER #{{order.id}}</small>
                <div class="col-4">
                    <div class="">
                        <h5 class="card-text">{{order.car.fullname}}</h5>
                        <p class="fw-light mb-0 card-subtitle">{{order.car.car_detail.extra_info}} &#2022; {{order.car.car_detail.transmission_type}}</p>
                        <img class="img-fluid rounded-2 my-1" width="200" height="200" src="https://fastly-production.24c.in/hello-ar/dev/uploads/6505965c35f7eb5c6cc7df25/c46367da-df70-4229-bda4-a0ab18f82fa0/slot/11217659719-3e9bcbb02f37478eace656c8101cb96b-Exterior-7.jpg?w=690&auto=format" alt="Card image cap">
                         <h6 class="text-muted mt-2"><b>Total:</b> NPR. {{order.amount}}</h6> 
                         <button class="btn btn-sm btn-outline-primary rounded-pill">see details</button>
                    </div>
                </div>
                <div class="col-8">
                    {% if order.status == "DELIVERED" %}
                    <ul class="progressbar">
                        <li class="done"> Ordered </li>
                        <li class="done">Payment </li>
                        <li class="done">Shipping</li>
                        <li class="done">Delivered</li>
                      </ul>
                      {% elif order.status == "PAID" %}
                      <ul class="progressbar">
                        <li class="done"> Ordered </li>
                        <li class="done">Payment </li>
                        <li class="inactive">Shipping</li>
                        <li class="inactive">Delivered</li>
                      </ul>
                      {% elif order.status == "ONSHIPPING" %}
                      <ul class="progressbar">
                        <li class="done"> Ordered </li>
                        <li class="done">Payment </li>
                        <li class="active">Shipping</li>
                        <li class="inactive">Delivered</li>
                      </ul>
                    
                      {% elif order.status == "SHIPPED" %}
                      <ul class="progressbar">
                        <li class="done"> Ordered </li>
                        <li class="done">Payment </li>
                        <li class="done">Shipping</li>
                        <li class="inactive">Delivered</li>
                      </ul>
                      {% endif %}
                      
                </div> 
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


<ul class="progressbar">
    <li class="done"> Order Placed</li>
    <li class="done">Payment </li>
    <li class="done">Shipping</li>
    <li class="done">Delivered</li>
  </ul>