<div class="col-md-5 col-xl-4" >
    <div class="card">
      <div class="card-header">
        <h5 class="card-title mb-0">Profile Settings</h5>
      </div>
      <div class="list-group list-group-flush" role="tablist">
        <a
          class="list-group-item list-group-item-action active"
          data-toggle="list"
          href="{% url 'settings' %}"
          role="tab"
          id = "acc"
        >
          Account
        </a>
        <a
          class="list-group-item list-group-item-action"
          data-toggle="list"
          href="{{request.user.license_verification_status_url}}"
          role="tab"
          id = "lc"
        >
          License verification
        </a>
        <a
        class="list-group-item list-group-item-action"
        data-toggle="list"
        href="{% url 'customer_orders' %}"
        role="tab"
        id = "orders"
      >
       Orders
      </a>
        <a
          class="list-group-item list-group-item-action"
          data-toggle="list"
          href="#"
          role="tab"
        >
          Email notifications
        </a>

        <a
          class="list-group-item list-group-item-action"
          data-toggle="list"
          href="#"
          role="tab"
        >
          Help
        </a>
        <a
          class="list-group-item list-group-item-action"
          data-toggle="list"
          href="#"
          role="tab"
        >
          Delete account
        </a>
      </div>
    </div>
  </div>

  <script>
    
    window.onload = function activateTab(){
        var url = "{{request.get_full_path}}"
        
        if (url.includes("orders")){
            document.getElementById("orders").className += "active";
        }

   }
  </script>