{% extends 'store-base.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block content %}
    <div class="main" style="background-image: url({% static 'images/bgpic.png' %});">
      <div class="about">
        <h1 class="ani">About Us</h1>
        <p class="ani">
          Welcome to Car-KinBech, your trusted source for accurate and reliable
          car price predictions. At Car-KinBech, we understand the challenges
          and uncertainties that come with buying or selling a car. That's why
          we've dedicated ourselves to providing you with cutting-edge tools and
          insights to make informed decisions in the dynamic automotive market.
        </p>
      </div>
      <img src="{% static 'images/aboutimg.png' %}" class="aboutimg ani" />
    </div>
{% endblock %}

