{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <title> {% block title %} {% endblock %}</title>
    <link href="{% static 'css/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link href = "{% static 'css/font-awesome.min.css' %}" rel="stylesheet"> -->
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href ="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.webp' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nepali.datepicker.min.css' %}">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/css/selectize.default.min.css"
    integrity="sha512-pTaEn+6gF1IeWv3W1+7X7eM60TFu/agjgoHmYhAfLEU8Phuf6JKiiE8YmsNC0aCgQv4192s4Vai8YZ6VNM6vyQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
 <style>
   *{
        font-family: Grotesk;
    }
 </style>

</head>
    <body>
        <!-- header -->
        <nav class="p-2">
            <a href="/"><img src="{% static 'images/logo.png' %}" class="img-fluid" width="190" height="30" alt="Car-Kin-Bech" />
            </a>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="{% url 'about_us' %}">About</a></li>
              <li><a href="{% url 'predict' %}">Predict</a></li>
            </ul>
            <div>
              {% if request.user.is_authenticated %}
              
              <!-- {% if request.user.has_verified_license == "not_submitted" %}
                <button class="btn btn-outline-danger rounded-pill" onclick="location.href='{% url 'lc_vc' %}'">License Unverified <i class="fa fa-ban"></i></button>
            {% elif request.user.has_verified_license == "ON_VERIFICATION" %}
                <button class="btn btn-outline-warning rounded-pill">License Onverification <i class="fa fa-spinner"></i></button>
            {% elif request.user.has_verified_license == "VERIFIED" %}
                <button class="btn btn-outline-success rounded-pill">License Verified <i class="fa fa-check"></i></button>
            {% endif %} -->
              <a class="login-btn" href="{% url 'settings' %}"><li class="fa fa-user"></li> {{request.user.username}}</a>
              <a href="{% url 'logout' %}" class="login-btn btnx">Logout</a>
              {% else %}

               
              <a href="{% url 'login' %}" class="login-btn">Login</a>
              <a href="{% url 'register' %}" class="btnx">Register</a>
              {% endif %}
              
            </div>
        </nav>
        
        {% for message in messages %}
        
            <div class="alert {{message.tags}} alert-dismissible fade show m-1" role="alert">
                    {% if message.tags == "alert-danger" %}
                        <img class="img-fluid" src="{% static 'images/icon-alert.gif' %}" width="28" height="28"/>
                    {% elif message.tags == "alert-success" %}
                         <img class="img-fluid" src="{% static 'images/icon-ok.gif' %}" width="28" height="28"/>
                    {% endif %}
                    <span> {{ message|escape }}</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
                    </button>
            </div>
        {% endfor %}
        {% block content %}
        {% endblock %}

        <div class="p-3 mt-2 text-light" style="background-image:linear-gradient(45deg, rgb(7, 18, 93), #300eba);">
            <div class="row">
                <div class="col-4">
                <div class="col-12">
                    <a href="/"><img class="img-fluid mb-2" src="{% static 'images/logo.png' %}" width="200"></a>
                </div>
                <div class="col-12">
                    <i class="fa fa-envelope orange-text me-2"></i>
                    <a href="mailto:carkinbech@gmail.com" class="text-decoration-none orange-text"> carkinbech@gmail.com</a>
                </div>
                <div class="col-12">
                    <i class="fa fa-phone orange-text me-2"></i>
                    <a href="mobileto:4431037" class="text-decoration-none orange-text">4431037</a>
                </div>
                </div>
                <div class="col-4">
                <div class="col-12">
                    <h3 class="orange-text text-center">Find us on</h3>
                </div>
                <div class="col-12">
                    <div class="d-flex justify-content-evenly mt-2">
                    <a href="https://www.facebook.com" target="_blank" class="text-decoration-none">
                        <i class="fa fa-facebook fa-2x orange-text"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" class="ms-2 text-decoration-none">
                        <i class="fa fa-instagram fa-2x orange-text"></i>
                    </a>
                    <a href="https://www.youtube.com" target="_blank" class="ms-2 text-decoration-none">
                        <i class="fa fa-youtube fa-2x orange-text"></i>
                    </a>
                </div>
                </div>
                </div>
                <div class="col-4">
                    <div class="col-12">
                        <h3 class="orange-text">Subscribe to newsletter</h3>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <input type="emai" placeholder="Enter email ..." class="form-control"/>
                            <button class="btn orange-login-button">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src = "{% static 'css/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src = "{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src = "{% static 'js/nepali.datepicker.min.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> -->

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js"
  integrity="sha512-IOebNkvA/HZjMM7MxL0NYeLYEalloZ8ckak+NDtOViP7oiYzG5vn6WVXyrJDiJPhl4yRdmNAG49iuLmhkUdVsQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src ="{% static 'js/predict.js' %}" type="module">
</script>
    </html>
    