{% extends 'store-base.html' %}
{% load static %}
{% block title %} Payment Success {% endblock %}
{% block content %}
<div class="container p-3 m-5">
  <div class="row">
    <div class="col d-flex align-items-center">
      <div class="ms-5">
        <h1 class="text-success">PAYMENT SUCCESS</h1>
       <p class="orange-text fst-italic fs-6">
        "Woohoo! Your payment went through smoothly. Thanks for the support!"  
      </p>
       <button class="btn orange-login-button" onclick="location.href='{% url 'home' %}'">Home</button>
      </div>
    </div>
    <div class="col"> 
      <img class="img-fluid ms-3" src="{% static 'images/payment-success.jpg' %}" width="500" height="500">
    </div>
  </div>
  </div>
{% endblock %}