{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title %} {% endblock %}</title>
    <link href="{% static 'css/bootstrap-5.0.2-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
      *{
           font-family: Grotesk;
       }
    </style>
</head>

<body>
     <!-- Blue box at the top -->
    <div class="container-fluid">
      <div class="blue-box position-relative">
          <div class="position-absolute top-0 start-0"> 
            <img class="img-fluid" src = "{% static 'images/creta.png' %}" height="400"  width="400">
          </div>
          <div class="position-absolute " style="left: 37%; top:20%;">
            <a href="/">
            <img class="img-fluid mt-3" src="{% static 'images/logo.png' %}" width="300">
          </a>
          </div>
          <div class="position-absolute top-0 end-0">
            <img class="img-fluid" src="{% static 'images/g36.png' %}" height="400" width="400">
          </div>
      </div>
      
      
      {% block content %}
      {% endblock %}

    </div>

</body>
<script src = "{% static 'css/bootstrap-5.0.2-dist/js/bootstrap.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>