{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

      <div class="row">
       
            <div class="col-12 col-sm-8 col-md-6 mx-auto p-2">
           
                <div class="card shadow mt-5">
                  {% if form.non_field_errors %}
                  <div class="col-12 p-2">
                    <div class="alert alert-danger alert-dismissible fade show" >
                        <img class="img-fluid" src="{% static 'images/icon-alert.gif'%}" width="28" height="28">
                        <span> username or password not valid </span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close">
                        </button>
                    </div>
                  </div>
                  {% endif %}
                  <div class="p-2">
                    {% include 'messages.html' %}
                  </div>
                  
                    <div class="card-body">
                      <div class="text-center"">
                         <h2 class="" style="color: blue;"">
                        Login
                      </h2>
                      </div>
                      <form method="POST">
                        {% csrf_token %}
                            <div class="form-group">
                              <label for="username"  style="color: blue;">{{form.username.label}}</label>
                                <!-- <input type="text" name="username" id="username" class="form-control my-3 border-primary" > -->
                                {{form.username}}
                            </div>
                            <div class="form-group">
                              <label for="password" style="color: blue;">{{form.password.label}}</label>
                              {{form.password}}
                            </div>
                            <div class="mt-3 p-2">
                            <button class="btn orange-login-button w-100" type="submit">Login</button>
                              
                               <span class="blue-link ml-2 ">
                                 <div class="nav-link text-center mt-2">
                                 Don't have an account?
                                  <a href="{% url 'register' %}" style="color: blue;">Register</a>
                                </div>
                              </span>
                            </div>
                      </form>
                    </div>
                </div>
            </div>
      </div>

{% endblock %}